<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HibernateCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CityInsertServlet</display-name>
    <servlet-name>CityInsertServlet</servlet-name>
    <servlet-class>controller.CityInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityInsertServlet</servlet-name>
    <url-pattern>/CityInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityListServlet</display-name>
    <servlet-name>CityListServlet</servlet-name>
    <servlet-class>controller.CityListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityListServlet</servlet-name>
    <url-pattern>/CityListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>controller.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>controller.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>controller.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertServlet</servlet-name>
    <url-pattern>/UserInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertServlet</display-name>
    <servlet-name>UserInsertServlet</servlet-name>
    <servlet-class>controller.UserInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>controller.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityEditServlet</display-name>
    <servlet-name>CityEditServlet</servlet-name>
    <servlet-class>controller.CityEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityEditServlet</servlet-name>
    <url-pattern>/CityEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityUpdateServlet</display-name>
    <servlet-name>CityUpdateServlet</servlet-name>
    <servlet-class>controller.CityUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityUpdateServlet</servlet-name>
    <url-pattern>/CityUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityDeleteServlet</display-name>
    <servlet-name>CityDeleteServlet</servlet-name>
    <servlet-class>controller.CityDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityDeleteServlet</servlet-name>
    <url-pattern>/CityDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>controller.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
</web-app>